.grid-container, .hero-text {
  margin: 0px 2rem;
}

h1 {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 6rem;
  font-weight: 800;
  color: #151515;
  text-transform: uppercase;
  margin: 0;
  line-height: 5.5rem;
  padding: 3rem 0rem;
}

h2 {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 6rem;
  font-weight: 800;
  color: #151515;
  text-transform: uppercase;
  margin: 0;
  font-size: 5rem;
  line-height: 4.5rem;
  padding-bottom: 2.4rem;
}

p {
  font-family: "Outfit", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  color: #151515;
  line-height: 2.8rem;
}

.hero-img {
  width: 100%;
}

button {
  display: flex;
  justify-content: space-evenly;
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 6rem;
  font-weight: 800;
  color: #151515;
  text-transform: uppercase;
  margin: 0;
  font-size: 2rem;
  color: #ffffff;
  background-color: #151515;
  border: none;
  padding: 2.4rem 3.2rem;
  margin: 2rem 0rem;
}
button:hover, button:focus-within {
  color: #151515;
  background-color: #d5966c;
}

.grid-container {
  padding: 8rem 0rem;
}
.grid-container img {
  width: 100%;
  padding: 1rem 0rem;
}
.grid-container .grid-text-card {
  padding: 1rem 0rem;
}
.grid-container :nth-child(5) {
  background-color: #151515;
  padding: 4rem 2rem;
}
.grid-container :nth-child(5) > h2,
.grid-container :nth-child(5) > p {
  color: white;
}

footer {
  background-color: #151515;
  padding: 4rem 3rem;
}
footer p {
  color: #ffffff;
  padding: 3rem 0rem;
}
footer .social-icons {
  display: flex;
  gap: 10px;
}

@media screen and (min-width: 650px) {
  header {
    background-image: url("./assets/tablet/image-hero.jpg");
    background-repeat: no-repeat;
    background-position: left;
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50vw;
  }
  .hero-img {
    display: none;
  }
  .hero-text {
    padding-right: 6rem;
  }
  .grid-container {
    margin: 5rem;
    grid-gap: 2rem;
    display: grid;
    grid-template-areas: " grid-top-left grid-top-left grid-top-right grid-top-right grid-top-right grid-top-right grid-top-right grid-top-right" "grid-left grid-left grid-left grid-left grid-left grid-left grid-right grid-right " "grid-left grid-left grid-left grid-left grid-left grid-left grid-bottom-right grid-bottom-right ";
  }
  .grid-container .grid-top-left {
    grid-area: grid-top-left;
  }
  .grid-container .grid-top-right {
    grid-area: grid-top-right;
  }
  .grid-container .grid-left {
    grid-area: grid-left;
  }
  .grid-container .grid-right {
    grid-area: grid-right;
  }
  .grid-container .grid-bottom-right {
    grid-area: grid-bottom-right;
  }
  .grid-container img {
    padding: 0px;
  }
}
@media screen and (min-width: 1000px) {
  header {
    background-image: url(./assets/desktop/image-hero.jpg), linear-gradient(to right, #151515 50%, #ffffff 50%);
    background-position: center, left, right;
    background-size: contain;
    background-color: #151515;
    padding-left: initial;
    height: 100vh;
  }
  .hero-text {
    display: flex;
    justify-content: space-between;
    margin: 14rem;
    padding-right: 0rem;
  }
  .hero-text h1 {
    font-size: 9.5rem;
    line-height: 9.5rem;
    color: rgb(255, 255, 255);
    mix-blend-mode: exclusion;
    max-width: 30vw;
    padding-top: 0px;
  }
  .hero-text .hero-para-btn {
    max-width: 30vw;
  }
  .grid-container {
    margin: 5rem;
    grid-gap: 2rem;
    display: grid;
    grid-template-areas: " grid-top-left grid-top-left grid-top-right grid-top-right grid-top-right grid-top-right grid-top-right grid-top-right" "grid-left grid-left grid-left grid-left grid-left grid-left grid-right grid-right " "grid-left grid-left grid-left grid-left grid-left grid-left grid-bottom-right grid-bottom-right ";
    margin: 4rem 8rem;
  }
  .grid-container .grid-top-left {
    grid-area: grid-top-left;
  }
  .grid-container .grid-top-right {
    grid-area: grid-top-right;
  }
  .grid-container .grid-left {
    grid-area: grid-left;
  }
  .grid-container .grid-right {
    grid-area: grid-right;
  }
  .grid-container .grid-bottom-right {
    grid-area: grid-bottom-right;
  }
  .grid-container img {
    padding: 0px;
  }
  .grid-top-left {
    margin: auto;
    width: 80%;
  }
}/*# sourceMappingURL=styles.css.map */